@charset "UTF-8";

@font-face {
    font-family: principal;
    src: url('./font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: negrito;
    src: url('./font/Poppins/Poppins-Bold.ttf');
}

* {
    font-family: principal, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #FFF;
    height: 100px;
}

header img {
    width: 125px;
}

nav {
    background-color: #3a85ff;
    padding: 10px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#menu a {
    color:#FFF;
    text-decoration: none;
}

#menu a:hover {
    background-color: #6097ef;
}

#hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    #menu.active {
        display: flex;
    }

    #hamburger {
        display: block;
    }
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

section {
    width: 100%;
    height: 160px;
    border: 1px solid black;
    margin-bottom: 25px;
}

section h2 {
    font-family: negrito, sans-serif;
    text-align: center;
    background-color: #00C896;
}

section#criarTarefa {
    display: none;
    text-align: center;
    font-weight: bold;
    height: 200px;
}

section#criarTarefa input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
}

section#criarTarefa button {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: firebrick;
    color: #fff;
    border: none;
    cursor: pointer;
}

section#criarTarefa button:hover {
    background-color: red;
}

section#tarefasPrincipais {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0;
    padding-bottom: 10px;
}

section#tarefasPrincipais h2 {
   align-self: flex-start;
   flex: 1 0 93vw;
}

section#tarefasPrincipais p {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    display: block;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 96vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    padding: 10px;
    flex: 0 1 150px;
}